.d{
    
    background-color: black;
    height:80px;
    width: 80px;
}
.w{
    background-color: white;
    height: 80px;
    width:80px;
}
table{
    border-collapse: collapse;
    border:3px solid black;
    margin:20px 0px 0px 450px;
}